<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question 1</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/Pratham82/min-ui@dev/src/css/minui.css"
    />
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <nav class="flex justify-around items-center navbar">
      <div class="flex items-center branding">
        <a href="../../../index.html">
          <h4 class="h4">Min-Quiz</h4>
        </a>
      </div>

      <div class="searchDiv"></div>

      <ul class="flex items-center pages">
        <a href="../pages/login.html" class="flex flex-col items-center">
          <li><i class="far fa-user"></i></li>
          <li class="pages-title">Profile</li>
        </a>
      </ul>
    </nav>
    <main class="main-container">
      <h3 class="h3 text-center">Quiz</h3>
      <div class="flex">
        <a href="./quizRules.html">
          <button class="btn primary-filled-btn quiz-btn">
            <span class="pr-10">
              <i class="far fa-arrow-left"></i>
            </span>
            Show Rules
          </button>
        </a>
      </div>
      <div class="flex flex-col items-center mt-20">
        <p class="h4 question"><b>Q.1</b> Question 1</p>
        <div class="questions-container mt-20 mb-20">
          <div class="option flex justify-center items-center m-4">
            <label for="option-1" class="radio">
              <input
                type="radio"
                id="option-1"
                name="myRadioField"
                class="radio__input"
              />
              <div class="radio__radio"></div>
              Option 1
            </label>
          </div>
          <div class="option flex justify-center items-center m-4">
            <label for="option-2" class="radio">
              <input
                type="radio"
                id="option-2"
                name="myRadioField"
                class="radio__input"
              />
              <div class="radio__radio"></div>
              Option 2
            </label>
          </div>
          <div class="option flex justify-center items-center m-4">
            <label for="option-3" class="radio">
              <input
                type="radio"
                id="option-3"
                name="myRadioField"
                class="radio__input"
              />
              <div class="radio__radio"></div>
              Option 3
            </label>
          </div>
          <div class="option flex justify-center items-center m-4">
            <label for="option-4" class="radio">
              <input
                type="radio"
                id="option-4"
                name="myRadioField"
                class="radio__input"
              />
              <div class="radio__radio"></div>
              Option 4
            </label>
          </div>
        </div>
        <div class="bottom-container pr-10">
          <a href="./quiz-next.html">
            <button class="btn primary-filled-btn quiz-btn">
              Next
              <span class="pl-10">
                <i class="far fa-arrow-right"></i>
              </span>
            </button>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
